.container
  %h1 Listing contactos
  
  = link_to 'Descargar en formato Excel', contactos_path(format: :csv), :class => 'btn btn-primary'
  
  %br
  
  %table.table.table-striped
    %thead
      %tr
        %th Nombre
        %th Telefono
        %th Email
        %th Fecha
        %th
  
    - @contactos.each do |contacto|
      %tr
        %td= contacto.nombre
        %td= contacto.telefono
        %td= contacto.email
        %td= contacto.created_at.strftime("%I:%M%p %m %b %Y")
        %td= link_to 'Eliminar', contacto, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-mini btn-danger'

  = will_paginate @contactos
