.container
  %h2 Ingresar
  = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => 'form-horizontal' }) do |f|
    %div.control-group
      = f.label :email, :class => 'control-label'
      %div.controls
        = f.email_field :email, :autofocus => true, :class => 'text_field'
    %div
      = f.label :password, :class => 'control-label'
      %div.controls
        = f.password_field :password, :class => 'text_field'
    - if devise_mapping.rememberable?
      %div.control-group
        = f.label :remember_me, "No volver a preguntar", :class => 'control-label'
        %div.controls
          = f.check_box :remember_me
          
    %div.form-actions
      = f.submit "Ingresar", :class => 'btn btn-primary'
